/* MEDIAQUERY  */

@media screen and (min-width: 768px) and (max-width: 1024px)  {
    
    .narrow-container {
        max-width: 100vw;
    }
    

     /* REGOLE SECTION 1 */

    .cards {
        display: flex;
        align-content: flex-start;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wide-box {
        width: calc(60% - 30px);
        display: flex;
        justify-content: space-between;
        margin: 15px 15px;
    }

    .mini-box {
        width: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 5px 15px;
    }

    .special-box {
        width: calc(40% - 30px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;

    }

    /* REGOLE SECTION 2 */

    #left-col {
        width: 100%;
    }
    
    #right-col {
        width: 100%;
    }


    /* REGOLE SECTION 3 */

    .person {
        margin: 1rem 1rem;
        justify-content: flex-start;
    }

    
    .block-text {
        width: 70%;
    }



    .person {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--purple-color);
        border-radius: 20px;
        margin: 1rem 20px;
        align-items: center;
    }

    /* SECTION 4  */

    .benefits {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 5px;
    }
    
    .reason {
        width: calc((100% /2) - 10px);
        margin: 15px 0px;
        padding: 10px 0px;
    }

    .reason * {
        padding: 10px 10px;
    }

    /* SECTION 5 */

    .about-us {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .main-about-us {
        width: 70%;
    }

    .linkedin {
        width: 30%;
    }


}

@media screen and (min-width: 1024px) {
    
    .narrow-container {
        max-width: 1024px;
        
    }
    
    /* REGOLE HEADER */

    .desktop {
        display: block;

    }

    .mobile {
        display: none;
    }

    .left-col {
        width: 100%;
    }
    
    .right-col {
        width: 100%;
    }
    

    /* REGOLE SECTION 1 */

    .cards {
        display: flex;
        align-content: flex-start;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .wide-box {
        width: calc(((100% / 3) * 2) - 30px);
        display: flex;
        justify-content: space-between;
        margin: 15px 15px;
    }

    .mini-box, .special-box {
        width: calc((100% / 3) - 30px);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin: 0px 15px;
    }

    
    
    /* REGOLE SECTION 2 */

    .laptop {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    
     .imagine {
        width: 100%;
     }    


    .left-block {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;

    }

    .right-block {
        width: 40%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
    }

     /* REGOLE SECTION 3 */


     .block-text {
    
        width: 70%;
     }

     .person {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--purple-color);
        border-radius: 20px;
        margin: 1rem 0px;
        align-items: center;
    }
     
    /* SECTION 4  */

    .benefits {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0px 5px;
    }
    
    .reason {
        width: calc((100% /3) - 10px);
        margin: 15px 0px;
        padding: 10px 0px;
    }

    .reason * {
        padding: 10px 10px;
    }

    /* SECTION 5 */

    .about-us {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

    }

    .main-about-us {
        width: 70%;
    }

    .linkedin {
        width: 30%;
    }


}


